.header__box {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 172px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
}
.navbar .navbar__list a {
  text-decoration: none;
  color: #1E212C;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}
.navbar .navbar__list a:hover {
  color: #FF5A30;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
.contacts .contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.contacts .contacts__item p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.contacts .contacts__item a {
  text-decoration: none;
  color: #1E212C;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.opacity__text {
  opacity: 60%;
}

.wrapper {
  padding: 80px 0;
}

.footer {
  background-color: #1E212C;
  color: #FFFFFF;
}

.footer__box, .logo__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__box {
  width: 40.081300813%;
}
.logo__box p {
  margin: 0;
  padding-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo__line {
  gap: 60px;
}

.subscription__box {
  width: 40.243902439%;
}
.subscription__box .subscription__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.subscription__box .email__field {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscription__box .email__field input[type=email] {
  width: 100%;
  color: #FFFFFF;
  opacity: 80%;
  margin: 0;
  padding: 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px 0 0 4px;
}
.subscription__box .email__field input[type=button] {
  color: #FFFFFF;
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  background-color: #FF5A30;
  border-radius: 0px 4px 4px 0px;
  border: none;
}
.subscription__box .email__field input[type=button]:hover {
  cursor: pointer;
  color: #FF5A30;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.subscription__box p {
  margin: 0;
  padding-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 131px;
  padding-top: 49px;
}

.info__box .info__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.info__box .info__list {
  list-style: none;
  padding: 0;
}
.info__box a {
  text-decoration: none;
  color: #FFFFFF;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
}
.copyright .copyright__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright .copyright__box span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.copyright .copyright__up {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 16px;
}
.copyright .copyright__up span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.communication__back {
  background: url(../../img/main/communication.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.communication__back .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.communication__back .wrapper .communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  width: 495px;
  padding: 48px 40px;
}
.communication__back .wrapper .communication .communication__title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
.communication__back .wrapper .communication form {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.communication__back .wrapper .communication form .form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.communication__back .wrapper .communication form .form__item label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.communication__back .wrapper .communication form .form__item input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.communication__back .wrapper .communication form .form__item input[type=text], .communication__back .wrapper .communication form .form__item input[type=tel], .communication__back .wrapper .communication form .form__item input[type=email] {
  background-color: #F4F5F6;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 11px;
}
.communication__back .wrapper .communication form .check {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.communication__back .wrapper .communication form .check input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  margin-right: 12px;
  height: 16px;
  width: 16px;
  background-color: #D7DADD;
  border-radius: 4px;
  cursor: pointer;
}
.communication__back .wrapper .communication form .check input[type=checkbox]:checked {
  background-color: #FF5A30;
}
.communication__back .wrapper .communication form .check input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  width: 4px;
  height: 9px;
  border: 1px solid transparent;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}
.communication__back .wrapper .communication form .check input[type=checkbox]:checked::before {
  border-color: #fff;
}
.communication__back .wrapper .communication .orange__button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  background-color: #FF5A30;
  border: none;
  padding: 0 32px;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  padding: 0 32px;
}
.communication__back .wrapper .communication .orange__button:hover {
  cursor: pointer;
  color: #FF5A30;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.supported__title {
  padding-bottom: 60px;
  text-align: center;
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
}
.supported__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 102px;
}
.supported__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.supported__section {
  background-color: #F4F5F6;
}
.supported__box {
  padding: 80px 0 110px 0;
}
.supported__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.supported__content .shift__img {
  position: relative;
  top: 60px;
  border-radius: 4px;
}
.supported__block {
  width: 600px;
  padding-top: 60px;
}
.supported__description {
  margin: 0;
  padding: 24px 0;
}
.supported__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.supported__name h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}
.supported__name p {
  padding-top: 4px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.supported__arrows {
  height: 24px;
}
.supported__arrows img:hover {
  cursor: pointer;
}

.our__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  text-align: center;
}

.our__text {
  margin: 0;
  color: #787A80;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.our__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 94px;
}
.our__cards hr {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 219, 221, 0)), color-stop(12.33%, rgba(218, 219, 221, 0.5)), color-stop(51.91%, #DADBDD), color-stop(87.85%, rgba(218, 219, 221, 0.5)), to(rgba(218, 219, 221, 0)));
  background: linear-gradient(to bottom, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
  width: 3px;
  border-style: none;
}
.our__item {
  width: 33.3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our__subtitle {
  margin: 0;
  padding-top: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.our__subtext {
  margin: 0;
  text-align: center;
  padding-top: 8px;
  color: #787A80;
}

.arrow__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.arrow__box .arrow__left, .arrow__box .arrow__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.arrow__box .arrow__left:hover, .arrow__box .arrow__right:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: green;
  -webkit-transform: all 0.3s ease-in;
          transform: all 0.3s ease-in;
}
.arrow__box .active {
  background-color: #FF5A30;
}

.projects {
  padding: 120px 0;
}
.projects__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  margin: 0;
}
.projects .projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 60px;
}
.projects .projects__box .projects__title {
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
}
.projects .projects__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 29.9px;
  padding-bottom: 80px;
}
.projects .projects__cards .projects__item-1 {
  background-image: url(../../img/main/image.jpg);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-2 {
  background-image: url(../../img/main/image2.jpg);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-3 {
  background-image: url(../../img/main/image3.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-1,
.projects .projects__cards .projects__item-2,
.projects .projects__cards .projects__item-3,
.projects .projects__cards .projects__item-4,
.projects .projects__cards .projects__item-5,
.projects .projects__cards .projects__item-6,
.projects .projects__cards .projects__item-7,
.projects .projects__cards .projects__item-8,
.projects .projects__cards .projects__item-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 4px;
  width: 390px;
  height: 440px;
  -webkit-box-shadow: 0 2px 3px -2px;
          box-shadow: 0 2px 3px -2px;
}
.projects .projects__cards .projects__item-1:hover .item__box .orange__button,
.projects .projects__cards .projects__item-2:hover .item__box .orange__button,
.projects .projects__cards .projects__item-3:hover .item__box .orange__button,
.projects .projects__cards .projects__item-4:hover .item__box .orange__button,
.projects .projects__cards .projects__item-5:hover .item__box .orange__button,
.projects .projects__cards .projects__item-6:hover .item__box .orange__button,
.projects .projects__cards .projects__item-7:hover .item__box .orange__button,
.projects .projects__cards .projects__item-8:hover .item__box .orange__button,
.projects .projects__cards .projects__item-9:hover .item__box .orange__button {
  display: block;
}
.projects .projects__cards .projects__item-1 .item__box,
.projects .projects__cards .projects__item-2 .item__box,
.projects .projects__cards .projects__item-3 .item__box,
.projects .projects__cards .projects__item-4 .item__box,
.projects .projects__cards .projects__item-5 .item__box,
.projects .projects__cards .projects__item-6 .item__box,
.projects .projects__cards .projects__item-7 .item__box,
.projects .projects__cards .projects__item-8 .item__box,
.projects .projects__cards .projects__item-9 .item__box {
  background-color: #FFFFFF;
  padding: 16px 20px 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .projects__cards .projects__item-1 .item__box a,
.projects .projects__cards .projects__item-2 .item__box a,
.projects .projects__cards .projects__item-3 .item__box a,
.projects .projects__cards .projects__item-4 .item__box a,
.projects .projects__cards .projects__item-5 .item__box a,
.projects .projects__cards .projects__item-6 .item__box a,
.projects .projects__cards .projects__item-7 .item__box a,
.projects .projects__cards .projects__item-8 .item__box a,
.projects .projects__cards .projects__item-9 .item__box a {
  text-decoration: none;
}
.projects .projects__cards .projects__item-1 .item__box .orange__button,
.projects .projects__cards .projects__item-2 .item__box .orange__button,
.projects .projects__cards .projects__item-3 .item__box .orange__button,
.projects .projects__cards .projects__item-4 .item__box .orange__button,
.projects .projects__cards .projects__item-5 .item__box .orange__button,
.projects .projects__cards .projects__item-6 .item__box .orange__button,
.projects .projects__cards .projects__item-7 .item__box .orange__button,
.projects .projects__cards .projects__item-8 .item__box .orange__button,
.projects .projects__cards .projects__item-9 .item__box .orange__button {
  display: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 43px;
  border-radius: 4px;
  background-color: #fff;
  color: #FF5A30;
  border: 1px solid #FF5A30;
  margin-top: 24px;
  padding: 0 32px;
  cursor: pointer;
}
.projects .projects__cards .projects__item-1 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-2 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-3 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-4 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-5 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-6 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-7 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-8 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-9 .item__box .orange__button:hover {
  background-color: #FF5A30;
  color: #FFFFFF;
}
.projects .projects__cards .projects__item-1 .item__box .item__title,
.projects .projects__cards .projects__item-2 .item__box .item__title,
.projects .projects__cards .projects__item-3 .item__box .item__title,
.projects .projects__cards .projects__item-4 .item__box .item__title,
.projects .projects__cards .projects__item-5 .item__box .item__title,
.projects .projects__cards .projects__item-6 .item__box .item__title,
.projects .projects__cards .projects__item-7 .item__box .item__title,
.projects .projects__cards .projects__item-8 .item__box .item__title,
.projects .projects__cards .projects__item-9 .item__box .item__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #1E212C;
  text-align: center;
  padding-bottom: 4px;
}
.projects .projects__cards .projects__item-1 .item__box .item__text,
.projects .projects__cards .projects__item-2 .item__box .item__text,
.projects .projects__cards .projects__item-3 .item__box .item__text,
.projects .projects__cards .projects__item-4 .item__box .item__text,
.projects .projects__cards .projects__item-5 .item__box .item__text,
.projects .projects__cards .projects__item-6 .item__box .item__text,
.projects .projects__cards .projects__item-7 .item__box .item__text,
.projects .projects__cards .projects__item-8 .item__box .item__text,
.projects .projects__cards .projects__item-9 .item__box .item__text {
  margin: 0;
  color: #787A80;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.projects .projects__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.projects .projects__view .view__title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.projects .projects__view button {
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
}

.projects__slider {
  overflow: hidden;
}

.projects__s1 {
  margin-left: 0;
}

.projects__slides {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.projects__slides input[name=projects_r] {
  display: none;
}
.projects__slides #projects_r1:checked ~ .projects__s1 {
  margin-left: 0;
}
.projects__slides #projects_r2:checked ~ .projects__s1 {
  margin-left: -33.3333333333%;
}
.projects__slides #projects_r3:checked ~ .projects__s1 {
  margin-left: -66.6666666667%;
}
.projects__slides .projects__slide {
  width: 33.3333333333%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.projects__slides .projects__slide img {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #1E212C;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.orange__button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
  background-color: #FF5A30;
  border: none;
  padding: 0 40px;
  border-radius: 4px;
  border: 1px solid #FF5A30;
}
.orange__button a {
  text-decoration: none;
  color: #FFFFFF;
}
.orange__button:hover {
  color: #FF5A30;
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.orange__button:hover a {
  color: #FF5A30;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.projects .projects__cards .projects__item-1 {
  background-image: url(/img/main/buildings/image.jpg);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-2 {
  background-image: url(/img/main/buildings/image2.jpg);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-3 {
  background-image: url(/img/main/buildings/image3.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-4 {
  background-image: url(/img/main/buildings/image9.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-5 {
  background-image: url(/img/main/buildings/image4.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-6 {
  background-image: url(/img/main/buildings/image5.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-7 {
  background-image: url(/img/main/buildings/image6.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-8 {
  background-image: url(/img/main/buildings/image7.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-9 {
  background-image: url(/img/main/buildings/image8.png);
  background-repeat: no-repeat;
}

.back {
  background-image: url(../../img/main/bg-image.jpg);
  background-size: cover;
  color: #FFFFFF;
}
.back .construction {
  width: 577px;
  padding-top: 220px;
}
.back .construction .construction__title h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
}
.back .construction .construction__title h1 .orange {
  color: #FF5A30;
}
.back .construction .construction__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.back .construction .construction__text p {
  margin: 0;
  padding-top: 24px;
}
.back .construction .construction__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-top: 61px;
}
.back .construction .construction__buttons .orange__button {
  border: none;
}
.back .construction .construction__buttons .transparent__button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  padding: 0 40px;
  border-radius: 4px;
}
.back .construction .construction__buttons .transparent__button a {
  text-decoration: none;
  color: #FFFFFF;
}
.back .construction .construction__buttons .transparent__button:hover {
  color: #787A80;
  cursor: pointer;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.back .construction .construction__buttons .transparent__button:hover a {
  color: #787A80;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.back .slides {
  margin: 0;
  padding: 179px 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 4px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}
.back .slides .slides__item {
  width: 178px;
  padding-bottom: 12px;
  border-bottom: 2px solid #FFFFFF;
  opacity: 30%;
}
.back .slides .slides__item span {
  opacity: 60%;
}
.back .slides .active {
  opacity: 100%;
}

.bureau__box, .services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.construction__bureau {
  color: #1E212C;
  padding: 120px 0 26px 0;
}
.construction__bureau .bureau .bureau__video {
  width: 100%;
  position: relative;
  height: 500px;
  background-image: url(../../img/main/image.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.construction__bureau .bureau .bureau__video .bureau__circle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  left: 40px;
  bottom: 40px;
  background-color: rgb(167, 167, 167);
  border-radius: 50%;
}
.construction__bureau .values {
  padding-top: 180px;
}
.construction__bureau .question {
  position: relative;
  top: 120px;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 48px 60px;
}
.construction__bureau .question .question__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.construction__bureau .question .question__title h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  padding-bottom: 32px;
}
.construction__bureau .question .question__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.construction__bureau .question .question__input .question__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 20%;
}
.construction__bureau .question .question__input .long {
  width: 43.51%;
}
.construction__bureau .question .question__input .button {
  width: 10%;
}
.construction__bureau .question .question__input label, .construction__bureau .question .question__input input[type=text], .construction__bureau .question .question__input input[type=tel] {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.construction__bureau .question .question__input .orange__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 41px;
  padding: 0 32px;
}
.construction__bureau .question .question__input input[type=text], .construction__bureau .question .question__input input[type=tel] {
  background-color: #F4F5F6;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 11px;
}

.services__back {
  background-image: url(../../img/main/background.jpg);
}
.services__back .services {
  padding-top: 212px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.services__back .services .services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-bottom: 80px;
}
.services__back .services .services__cards .services__item {
  width: 285px;
  height: 285px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
.services__back .services .services__cards .services__item h4 {
  margin: 0;
}
.services__back .services .services__cards .active {
  background: url(../../img/main/card.jpg);
  color: #FFFFFF;
}

.services__view {
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__view h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  margin: 0;
}

.facts__section {
  position: relative;
  overflow: hidden;
}
.facts__section::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -12%;
  left: -5%;
  z-index: -1;
  background-image: url(../../img/main/facts_bg-image.png);
  background-repeat: no-repeat;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}
.facts__wrapper {
  padding: 180px 0 120px 0;
}
.facts__box {
  padding-bottom: 180px;
}
.facts__title {
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  padding-bottom: 60px;
}
.facts__figures {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.facts__figures .figures__text {
  margin: 0;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.facts__news {
  display: block;
}
.facts__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.facts__item {
  width: 705px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 53px -30px;
          box-shadow: 0 0 53px -30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.item__box {
  padding: 18px 24px 24px 24px;
}
.item__title {
  margin: 0;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item__info hr {
  margin: 4.5px 12px;
  border: 0.5px solid #787A80;
}
.item__text {
  margin: 0;
  color: #787A80;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.item__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.item__description {
  margin: 0;
  padding-top: 16px;
  color: #424551;
}

.news__divisor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.news__divisor .facts__item-mini {
  width: 495px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 53px -30px;
          box-shadow: 0 0 53px -30px;
}
.news__divisor .item__box {
  padding-top: 5px;
}
.news__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.news__title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */