.header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 172px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 40px;
}
.navbar .navbar__list a {
  text-decoration: none;
  color: #1E212C;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}
.navbar .navbar__list a:hover {
  color: #FF5A30;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
}
.contacts .contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.contacts .contacts__item p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.contacts .contacts__item a {
  text-decoration: none;
  color: #1E212C;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.opacity__text {
  opacity: 60%;
}

.wrapper {
  padding: 80px 0;
}

.footer {
  background-color: #1E212C;
  color: #FFFFFF;
}

.footer__box, .logo__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__box {
  width: 40.081300813%;
}
.logo__box p {
  margin: 0;
  padding-top: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.social__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo__line {
  gap: 60px;
}

.subscription__box {
  width: 40.243902439%;
}
.subscription__box .subscription__title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.subscription__box .email__field {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscription__box .email__field input[type=email] {
  width: 100%;
  color: #FFFFFF;
  opacity: 80%;
  margin: 0;
  padding: 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px 0 0 4px;
}
.subscription__box .email__field input[type=button] {
  color: #FFFFFF;
  margin: 0;
  padding: 0 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  background-color: #FF5A30;
  border-radius: 0px 4px 4px 0px;
  border: none;
}
.subscription__box .email__field input[type=button]:hover {
  cursor: pointer;
  color: #FF5A30;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.subscription__box p {
  margin: 0;
  padding-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 131px;
  padding-top: 49px;
}

.info__box .info__title {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.info__box .info__list {
  list-style: none;
  padding: 0;
}
.info__box a {
  text-decoration: none;
  color: #FFFFFF;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
}
.copyright .copyright__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.copyright .copyright__box span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.copyright .copyright__up {
  text-decoration: none;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
  gap: 16px;
}
.copyright .copyright__up span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.communication__back {
  background: url(../../img/main/communication.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.communication__back .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.communication__back .wrapper .communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  width: 495px;
  padding: 48px 40px;
}
.communication__back .wrapper .communication .communication__title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}
.communication__back .wrapper .communication form {
  padding: 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.communication__back .wrapper .communication form .form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.communication__back .wrapper .communication form .form__item label {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.communication__back .wrapper .communication form .form__item input {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.communication__back .wrapper .communication form .form__item input[type=text], .communication__back .wrapper .communication form .form__item input[type=tel], .communication__back .wrapper .communication form .form__item input[type=email] {
  background-color: #F4F5F6;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 11px;
}
.communication__back .wrapper .communication form .check {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.communication__back .wrapper .communication form .check input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  margin-right: 12px;
  height: 16px;
  width: 16px;
  background-color: #D7DADD;
  border-radius: 4px;
  cursor: pointer;
}
.communication__back .wrapper .communication form .check input[type=checkbox]:checked {
  background-color: #FF5A30;
}
.communication__back .wrapper .communication form .check input[type=checkbox]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 6px;
  width: 4px;
  height: 9px;
  border: 1px solid transparent;
  border-left: none;
  border-top: none;
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}
.communication__back .wrapper .communication form .check input[type=checkbox]:checked::before {
  border-color: #fff;
}
.communication__back .wrapper .communication .orange__button {
  padding: 0 32px;
}

.supported__title {
  padding-bottom: 60px;
  text-align: center;
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
}
.supported__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 102px;
}
.supported__list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.supported__section {
  background-color: #F4F5F6;
}
.supported__box {
  padding: 80px 0 110px 0;
}
.supported__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.supported__content .shift__img {
  position: relative;
  top: 60px;
  border-radius: 4px;
}
.supported__block {
  width: 600px;
  padding-top: 60px;
}
.supported__description {
  margin: 0;
  padding: 24px 0;
}
.supported__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.supported__name h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}
.supported__name p {
  padding-top: 4px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.supported__arrows {
  height: 24px;
}
.supported__arrows img:hover {
  cursor: pointer;
}

.description__section {
  background-color: #F4F5F6;
  background-size: contain;
}
.description__box {
  padding: 80px 0 180px 0;
  width: 600px;
}
.description__path {
  margin: 0;
  padding-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.description__path span {
  color: #9A9CA5;
}
.description__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
}
.description__text {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #787A80;
}

.arrow__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.arrow__box .arrow__left, .arrow__box .arrow__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.arrow__box .active {
  background-color: #FF5A30;
}

.projects {
  padding: 120px 0;
}
.projects__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  margin: 0;
}
.projects .projects__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-bottom: 60px;
}
.projects .projects__box .projects__title {
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
}
.projects .projects__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 80px;
}
.projects .projects__cards .projects__item-1 {
  background-image: url(../../img/main/image.jpg);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-2 {
  background-image: url(../../img/main/image2.jpg);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-3 {
  background-image: url(../../img/main/image3.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-1,
.projects .projects__cards .projects__item-2,
.projects .projects__cards .projects__item-3,
.projects .projects__cards .projects__item-4,
.projects .projects__cards .projects__item-5,
.projects .projects__cards .projects__item-6,
.projects .projects__cards .projects__item-7,
.projects .projects__cards .projects__item-8,
.projects .projects__cards .projects__item-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 4px;
  width: 390px;
  height: 440px;
  -webkit-box-shadow: 0 2px 3px -2px;
          box-shadow: 0 2px 3px -2px;
}
.projects .projects__cards .projects__item-1:hover .item__box .orange__button,
.projects .projects__cards .projects__item-2:hover .item__box .orange__button,
.projects .projects__cards .projects__item-3:hover .item__box .orange__button,
.projects .projects__cards .projects__item-4:hover .item__box .orange__button,
.projects .projects__cards .projects__item-5:hover .item__box .orange__button,
.projects .projects__cards .projects__item-6:hover .item__box .orange__button,
.projects .projects__cards .projects__item-7:hover .item__box .orange__button,
.projects .projects__cards .projects__item-8:hover .item__box .orange__button,
.projects .projects__cards .projects__item-9:hover .item__box .orange__button {
  display: block;
}
.projects .projects__cards .projects__item-1 .item__box,
.projects .projects__cards .projects__item-2 .item__box,
.projects .projects__cards .projects__item-3 .item__box,
.projects .projects__cards .projects__item-4 .item__box,
.projects .projects__cards .projects__item-5 .item__box,
.projects .projects__cards .projects__item-6 .item__box,
.projects .projects__cards .projects__item-7 .item__box,
.projects .projects__cards .projects__item-8 .item__box,
.projects .projects__cards .projects__item-9 .item__box {
  background-color: #FFFFFF;
  padding: 16px 20px 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .projects__cards .projects__item-1 .item__box .orange__button,
.projects .projects__cards .projects__item-2 .item__box .orange__button,
.projects .projects__cards .projects__item-3 .item__box .orange__button,
.projects .projects__cards .projects__item-4 .item__box .orange__button,
.projects .projects__cards .projects__item-5 .item__box .orange__button,
.projects .projects__cards .projects__item-6 .item__box .orange__button,
.projects .projects__cards .projects__item-7 .item__box .orange__button,
.projects .projects__cards .projects__item-8 .item__box .orange__button,
.projects .projects__cards .projects__item-9 .item__box .orange__button {
  display: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 43px;
  background-color: #fff;
  color: #FF5A30;
  border: 1px solid #FF5A30;
  margin-top: 24px;
  padding: 0 32px;
}
.projects .projects__cards .projects__item-1 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-2 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-3 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-4 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-5 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-6 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-7 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-8 .item__box .orange__button:hover,
.projects .projects__cards .projects__item-9 .item__box .orange__button:hover {
  color: #FFFFFF;
  background-color: #FF5A30;
}
.projects .projects__cards .projects__item-1 .item__box .item__title,
.projects .projects__cards .projects__item-2 .item__box .item__title,
.projects .projects__cards .projects__item-3 .item__box .item__title,
.projects .projects__cards .projects__item-4 .item__box .item__title,
.projects .projects__cards .projects__item-5 .item__box .item__title,
.projects .projects__cards .projects__item-6 .item__box .item__title,
.projects .projects__cards .projects__item-7 .item__box .item__title,
.projects .projects__cards .projects__item-8 .item__box .item__title,
.projects .projects__cards .projects__item-9 .item__box .item__title {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: #1E212C;
  text-align: center;
  padding-bottom: 4px;
}
.projects .projects__cards .projects__item-1 .item__box .item__text,
.projects .projects__cards .projects__item-2 .item__box .item__text,
.projects .projects__cards .projects__item-3 .item__box .item__text,
.projects .projects__cards .projects__item-4 .item__box .item__text,
.projects .projects__cards .projects__item-5 .item__box .item__text,
.projects .projects__cards .projects__item-6 .item__box .item__text,
.projects .projects__cards .projects__item-7 .item__box .item__text,
.projects .projects__cards .projects__item-8 .item__box .item__text,
.projects .projects__cards .projects__item-9 .item__box .item__text {
  margin: 0;
  color: #787A80;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
.projects .projects__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.projects .projects__view .view__title {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.projects .projects__view button {
  font-size: 16px;
  font-weight: 700;
  line-height: 48px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  color: #1E212C;
}

.container {
  width: 1230px;
  margin: 0 auto;
}

.orange__button {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  background-color: #FF5A30;
  border: none;
  padding: 0 112px;
  border-radius: 4px;
  border: 1px solid #FF5A30;
}
.orange__button:hover {
  cursor: pointer;
  color: #FF5A30;
  background-color: #FFFFFF;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.orange__button-small {
  color: #FF5A30;
  font-size: 12px;
  font-weight: 700;
  line-height: 34px;
  background-color: #FFFFFF;
  border: none;
  padding: 0 24px;
  border-radius: 4px;
  border: 1px solid #FF5A30;
}
.orange__button-small:hover {
  cursor: pointer;
  color: #FFFFFF;
  background-color: #FF5A30;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.description__section {
  background-image: url(../../img/work/bg-desc.png);
  background-position: 103% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.description__box {
  padding: 60px 0 115px 0;
}

.projects {
  padding: 215px 0 100px 0;
}
.projects .projects__cards {
  padding-bottom: 60px;
}
.projects .projects__cards .projects__item-1 {
  background-image: url(../../img/work/image\(7\).png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-2 {
  background-image: url(../../img/work/image\(8\).png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-3 {
  background-image: url(../../img/work/image\(1\).png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-4 {
  background-image: url(../../img/work/image\(2\).png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-5 {
  background-image: url(../../img/work/image\(3\).png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-6 {
  background-image: url(../../img/work/image.png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-7 {
  background-image: url(../../img/work/image\(4\).png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-8 {
  background-image: url(../../img/work/image\(5\).png);
  background-repeat: no-repeat;
}
.projects .projects__cards .projects__item-9 {
  background-image: url(../../img/work/image\(6\).png);
  background-repeat: no-repeat;
}
.projects .projects__view {
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
}
.projects .projects__view:hover {
  cursor: pointer;
  border: 2px solid #1E212C;
}
.projects__load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__cards {
  position: relative;
  top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.description__cards .active {
  background-color: #FF5A30;
  -webkit-box-shadow: 0 30px 80px -20px #FF5A30;
          box-shadow: 0 30px 80px -20px #FF5A30;
}
.description__cards .active p {
  color: #FFFFFF;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
}
.description__item {
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 80px -55px #1E212C;
          box-shadow: 0 5px 80px -55px #1E212C;
}
.description__item p {
  color: #9A9CA5;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  padding-bottom: 32px;
}
.description__item img {
  padding: 32px 0 16px 0;
}
.description__item:hover {
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.supported__box {
  padding: 20px 0 0 0;
}

.companies__box {
  padding: 180px 0 110px 0;
}

.item__box a {
  text-decoration: none;
}