@import "mixins.scss";
@import "header_footer.scss";
@import "communication.scss";
@import "description.scss";
@import "projects.scss";
@import "projects_slider.scss";

body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #1E212C;
}
.container{
    width: 1230px;
    margin: 0 auto;
}
.orange__button{
    color: #FF5A30;
    @include fonts(700,14px,42px);
    font-family: Ubuntu, sans-serif;
    background-color: #FFFFFF;
    padding: 0 32px;
    border-radius: 4px;
    border: 1px solid #FF5A30;
    &:hover{
        cursor: pointer;
        color: #FFFFFF;
        background-color: #FF5A30;
        transition: all 0.2s ease-in;
    }
}

.description {
    img{
        border-radius: 4px;
    }
  &__section{
    background-color: #fff;
    background-image: url(/img/cottage/bg-image.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}
  &__area{
    padding: 80px 0 120px 0;
}
  &__title{
    margin: 0;
    padding-bottom: 24px;
    @include fonts(700,64px,76.8px);
    padding-bottom: 60px;
}
  &__goal{
    display: flex;
    justify-content: space-between;
    width: 1230px;
}
}
.slider{
  overflow: hidden;
}
.s1{
  margin-left: 0;
}
.slides{
  position: relative;
  width: 600%;
  height: 100%;
  display: flex;
  input[name="r"]{
    display: none;
  }
  .arrows{
    display: flex;
    position: absolute;
    top: 226px;
    left: 32px;
  }
  .arrow {
    &__left{
      width: 48px;
      height: 48px;
      background-color: rgba(255, 255, 255, .5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-right: 1070px;
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s ease;
        background-color: rgba(255, 255, 255, 0.9);
      }
  }
    &__right{
      width: 48px;
      height: 48px;
      background-color: rgba(255, 255, 255, .5);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.3s ease;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: (-(100% / 6));
  }
  #r3:checked ~ .s1{
    margin-left: (-2 * (100% / 6));
  }
  #r4:checked ~ .s1{
    margin-left: (-3 * (100% / 6));
  }
  #r5:checked ~ .s1{
    margin-left: (-4 * (100% / 6));
  }
  #r6:checked ~ .s1{
    margin-left: (-5 * (100% / 6));
  }

  .slide{
    width: (100% / 6);
    transition: all 0.6s ease;
    img{
      display: block;
    }
  }
}
.bar{
  img{
    display: block;
    border-radius: 4px;
    opacity: .6;
  }
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: all .2s ease-in;
    img{
      opacity: 1;
    }
  }
}
.slider {
  &__nav{
    display: flex;
    gap: 20px;
    padding-bottom: 100px;
    padding-top: 20px;
}
}
.goal {
  &__box{
    display: block;
    width: 600px;
}
  &__title{
    @include fonts(700, 46px, 60px);
    margin: 0;
    padding-bottom: 40px;
}
  &__text{
    margin: 0;
    @include fonts(400, 18px, 27px);
    color: rgba(66, 69, 81, 1);
}
  &__info{
    display: flex;
    padding: 40px 60px;
    gap: 32px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px 2px rgba(30, 33, 44, 0.1);
}
  &__list-subtitle{
    margin: 0;
    list-style: none;
    @include fonts(700, 16px, 25.6px);
    padding-inline-start: 0px;
    li{
        padding-bottom: 16px;
    }
    li:last-child{
        padding-bottom: 0;
    }
}
  &__list-subtext{
    list-style: none;
    padding-inline-start: 0px;
    @include fonts(400, 16px, 25.6px);
    color: rgba(120, 122, 128, 1);
    margin: 0;
    li{
        padding-bottom: 16px;
    }
    li:last-child{
        padding-bottom: 0;
    }
}
}

.decisions {
  &__section{
    background-color: rgba(244, 245, 246, 1);
}
  &__box{
    display: flex;
    gap: 133px;
    img{
        position: relative;
        top: 80px;
    }
}
  &__area{
    padding-top: 80px;
}
  &__title{
    margin: 0;
    padding-bottom: 60px;
    @include fonts(700, 46px, 60px);
}
  &__list{
    margin: 0;
    padding-inline-start: 28px;
    list-style-image: url(/img/cottage/check.svg);
    li{
        padding-bottom: 16px;
    }
    li:last-child{
        padding-bottom: 20px;
    }
}
}

.projects{
  &{
    padding-top: 200px;
  }
  & &__cards &__item-1{
      background-image: url(/img/cottage/buildings/image4.png);
      background-repeat: no-repeat;
  }
  & &__cards &__item-2{
      background-image: url(/img/cottage/buildings/image8.png);
      background-repeat: no-repeat;
  }
      & &__cards &__item-3{
      background-image: url(/img/cottage/buildings/image7.png);
      background-repeat: no-repeat;
  }
  & &__cards &__item-4{
      background-image: url(/img/cottage/buildings/image9.png);
      background-repeat: no-repeat;
  }
  & &__cards &__item-5{
      background-image: url(/img/cottage/buildings/image6.png);
      background-repeat: no-repeat;
  }
  & &__cards &__item-6{
      background-image: url(/img/cottage/buildings/image5.png);
      background-repeat: no-repeat;
  }
  & &__cards &__item-7{
      background-image: url(/img/cottage/buildings/image.jpg);
      background-repeat: no-repeat;
  }
  & &__cards &__item-8{
      background-image: url(/img/cottage/buildings/image3.png);
      background-repeat: no-repeat;
  }
  & &__cards &__item-9{
      background-image: url(/img/cottage/buildings/image2.jpg);
      background-repeat: no-repeat;
  }
}