@import "mixins.scss";
@import "header_footer.scss";
@import "communication.scss";
@import "supported.scss";
@import "our__cards.scss";
@import "projects.scss";

body{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.6px;
    color: #1E212C;
}
.container{
    width: 1230px;
    margin: 0 auto;
}
.orange__button{
    color: #FFFFFF;
    @include fonts(700,16px,48px);
    background-color: #FF5A30;
    border: none;
    padding: 0 40px;
    border-radius: 4px;
    border: 1px solid #FF5A30;
    &:hover{
        cursor: pointer;
        color: #FF5A30;
        background-color: #FFFFFF;
        transition: all 0.2s ease-in;
    }
}

.back{
    background-image: url(../../img/main/bg-image.jpg);
    background-size: cover;
    color: #FFFFFF;
    .construction{
        width: 577px;
        padding-top: 220px;
        .construction__title{
            h1{
                margin: 0;
                @include fonts(700,72px,93.6px);
                .orange{
                    color: #FF5A30;
                }
            }
        }
        .construction__text{
            @include fonts(400,20px,30px);
            p{
                margin: 0;
                padding-top: 24px;
            }
        }
        .construction__buttons{
            display: flex;
            gap: 24px;
            padding-top: 61px;
            .orange__button{
                border: none;
            }
            .transparent__button{
                color: #FFFFFF;
                @include fonts(700,16px,52px);
                background-color: transparent;
                border: 1px solid #FFFFFF;
                padding: 0 40px;
                border-radius: 4px;
                &:hover{
                    cursor: pointer;
                    color: #787A80;
                    background-color: #FFFFFF;
                    transition: all 0.2s ease-in;
                }
            }
        }

    }
    .slides{
        margin: 0;
        padding: 179px 0 120px 0;
        display: flex;
        list-style: none;
        gap: 4px;
        @include fonts(700, 28px,42px);
        .slides__item{
            width: 178px;
            padding-bottom: 12px;
            border-bottom: 2px solid #FFFFFF;
            opacity: 30%;
            span{
                opacity: 60%;
            }
        }
        .active{
            opacity: 100%;
        }
    }
}
.bureau__box, .services__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
.construction__bureau{
    color:#1E212C;
    padding: 120px 0 26px 0;
    .bureau{
        .bureau__video{
            width: 100%;
            position: relative;
            height: 500px;
            background-image: url(../../img/main/image.png);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .bureau__circle{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                left: 40px;
                bottom: 40px;
                background-color: rgb(167, 167, 167);
                border-radius: 50%;
            }
        }
    }
    .values{
        padding-top: 180px;
    }
    .question{
        position: relative;
        top: 120px;
        background-color: #FFFFFF;
        border-radius: 4px;
        padding: 48px 60px;
        .question__title{
            display: flex;
            justify-content: center;
            h3{
                margin: 0;
                @include fonts(700,28px,42px);
                padding-bottom: 32px;
            }
        }
        .question__input{
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            .question__item{
                display: flex;
                flex-direction: column;
                gap: 8px;
                justify-content: end;
                width: 20%;
            }
            .long{
                width: 43.51%;
            }
            .button{
                width: 10%;
            }
            label, input[type=text],input[type=tel]{
                display: block;
                @include fonts(400,14px,21px);
            }
            .orange__button{
                @include fonts(700,14px,41px);
                padding: 0 32px;
            }
            input[type=text],input[type=tel]{
                background-color: #F4F5F6;
                border: 1px solid #D7DADD;
                border-radius: 4px;
                padding: 11px;
            }
        }
    }
}
.services__back{
    background-image: url(../../img/main/background.jpg);
    .services{
        padding-top: 212px;
        @include fonts(700,20px,30px);
        .services__cards{
            display: flex;
            gap: 30px;
            padding-bottom: 80px;
            .services__item{
                width: 285px;
                height: 285px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 24px;
                h4{
                    margin: 0;
                }
            }
            .active{
                background: url(../../img/main/card.jpg);
                color: #FFFFFF;
            }
        }
    }
}
.services__view{
    padding-bottom: 80px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    h3{
        @include fonts(700,28px,42px);
        margin: 0;
    }
}

.supported {
    &__section{
        background-color: #F4F5F6;
    }
    &__box{
        padding: 80px 0 110px 0;
    }
    &__content{
        display: flex;
        gap: 135px;
        position: relative;
        .shift__img{
            position: relative;
            top: 60px;
            border-radius: 4px;
        }
    }
    &__block{
        width: 600px;
    }
    &__description{
        margin: 0;
        padding: 24px 0;
    }
    &__switch{
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    &__name{
        h5{
            margin: 0;
            @include fonts(700,16px,25.6px);
        }
        p{
            padding-top: 4px;
            margin: 0;
            @include fonts(400,14px,21px);
        }
    }
    &__arrows{
        height: 24px;
        img{
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.facts {
  &__section{
    position: relative;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        width: 200%;
        height: 200%;
        top: -12%;
        left: -5%;
        z-index: -1;
        background-image: url(../../img/main/facts_bg-image.png);
        background-repeat: no-repeat;
        transform: rotate(3deg);
    }
}
  &__wrapper{
    padding: 180px 0 120px 0;
}
  &__box{
    padding-bottom: 180px;
}
  &__title{
    margin: 0;
    @include fonts(700,46px,60px);
    text-align: center;
    padding-bottom: 60px;
}
  &__figures{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 48px;
    justify-content: center;
    .figures__text{
        margin: 0;
        padding-top: 20px;
        @include fonts(400,14px,21px);
        text-align: center;
    }
}
  &__news{
    display: block;
}
  &__cards{
    display: flex;
    justify-content: space-between;
}
  &__item{
    width: 705px;
    border-radius: 4px;
    box-shadow: 0 0 53px -30px;
    height: fit-content;
}
}
.item {
  &__box{
    padding: 18px 24px 24px 24px;
  }
  &__title{
    margin: 0;
    padding-bottom: 12px;
    @include fonts(700,20px,30px);
}
  &__info{
    display: flex;
    hr{
        margin: 4.5px 12px;
        border: 0.5px solid #787A80;
    }
}
  &__text{
    margin: 0;
    color: #787A80;
    @include fonts(400,14px,21px);
}
  &__social{
    display: flex;
    gap: 8px;
}
  &__description{
    margin: 0;
    padding-top: 16px;
    color: #424551;
}
}
.news {
  &__divisor{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .facts__item-mini{
        width: 495px;
        border-radius: 4px;
        box-shadow: 0 0 53px -30px;
    }
    .item__box{
        padding-top: 5px;
    }
}
  &__view{
    display: flex;
    padding-top: 80px;
    justify-content: center;
    gap: 40px;
}
}
.news {
  &__title{
    margin: 0;
    @include fonts(700,28px,42px);
    display: flex;
    align-items: center;
}
}